@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.app {
  text-align: center;
  max-width: 60rem;
  margin: 0 auto;
}

/* Button Filters */
.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 4rem;
}

.button-wrapper > button {
  height: 2rem;
  padding: 0 1rem;
  cursor: pointer;
  border: none;
}

.button-wrapper > button.active {
  background: black;
  color: white;
}

/* Image */
.image-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}
.image-container > .image-card {
  color: white;
  border-radius: 5px;
  position: relative;
  height: 15rem;
}
.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-card h2 {
  position: absolute;
  bottom: 0;
  left: 1rem;
  font-size: 1rem;
  text-shadow: 2px 2px black;
}